@import "../../base";

:host {
}

#header {
	padding: size(100) $spacing-xl;
	text-align: center;
	background: color("primary", $light-hue, 0.2);
}

.divider {
	margin: $spacing-m 0;
}

#info, #text {
	max-width: size(700);
	margin-left: auto;
	margin-right: auto;
}

#info {
	padding: size(50) $spacing-xl;

	.info {
		b {
			font-size: $font-weight-bold;
		}
	}
}

#clear-button {
	position: fixed;
	right: $spacing-m;
	bottom: $spacing-m;
}
